<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Clojure Books Reviews</title>

        {% style "css/main.css" %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <!-- Load icon library -->
        <script src="https://kit.fontawesome.com/2733a7a245.js" crossorigin="anonymous"></script>


    </head>
    <body>
        <div class="container">

            {% if session.first_name|not-empty  %}

            {% include "templates/includes/nav-logout.html" %}

            {% else  %}

            {% include "templates/includes/nav.html" %}

            {% endif %}

            {% if flash %}
            {% for category, message in flash %}
            <div class="alert alert-{{category}}">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}

        </div>
        {% include "templates/includes/footer.html" %}

    </body>

</html>
