{% extends "templates/base.html" %}
{% block content %}

<div class="container bg-light row no-gutters">
    <h1>Book Details</h1>
    <hr>
    <div class="col" align="center">
        <p>
            <img src="{{ cover }}">
        </p>
    </div>
    <div class="col h6" >
        <p><h2> {{ book.title }}</h2></p>
        <p>Author: {{ book.author }}</p>
        <p>Year: {{ book.year }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p>{{ratings-count|number-format:%,d}} ratings on <a href="https://www.goodreads.com/">GoodReads.com</a></p>
        Average Rating: {{avg-rating}}</br>
    </div>
    <hr>
    <div class="container col-md-8 offset-md-2">
        <form name="review" action="{{ book.isbn }}" method="POST">
            <fieldset class="form-group">
                <legend>Rate</legend>

                <div class="form-row">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="1"> 1 &nbsp;
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="2"> 2 &nbsp;
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="3"> 3 &nbsp;
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="4"> 4 &nbsp;
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="5"> 5 &nbsp;
                        </label>
                    </div>
                </div>
                <div class="form-row form-group blue-border-focus">
                            <label for="review">Write a review.</label>
                            <textarea class="form-control" id="reviewtext" rows="5"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <p align="right">
                            <input id="submit" class="btn btn-primary" name="submit" type="submit" value="Submit">
                        </p>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    {% if reviews %}
    {% for review in reviews %}

    <div class='container col-md-10 offset-md-1 '>
        <h6><font color="orange">Rating: {{review.rate}} of 5</font></h6>
        <blockquote class="blockquote">
            <p>{{review.comment}}</p>
            <footer class="blockquote-footer">{{review.first_name}} {{review.last_name}} </footer>
        </blockquote>
    </div>

    {% endfor %}
    {% endif %}
</div>

{% endblock %}
