{% extends "templates/base.html" %}

{% block content %}

<div class="container">
    <form name="login" action="" method="post">
        <fieldset class="form-group">
            <legend>Login</legend>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" name="email" required type="email" value="{{email}}">
                    <ul class="errors">
                        {% for e in errors.email  %}
                        <li>{{e}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label></br>
                    <input id="password" class="form-control" name="password" required type="password" value="">
                    <ul class="errors">
                        {% for e in errors.password  %}
                        <li>{{e}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input id="submit" class="btn btn-primary" name="submit" type="submit" value="Login">
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
